* {
    box-sizing: border-box;
}
body {
    background-color: bisque;
    padding: 0 10px;
}
.container {
    max-width: 1024px;
    height: 768px;
    margin: 2% auto 0;
    position: relative;
}
/* .wrapper {
    height: 500px;
    overflow: hidden;
} */
.wrapper-img {
    overflow: hidden;
    position: relative;
    width: inherit;
    height: inherit;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.image {
    height: 100%;
	position: absolute;
	width: 100%;
    opacity: 0;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease .5s, opacity ease .5s;

}
#btn1:checked ~ .btn1,
#btn2:checked ~ .btn2,
#btn3:checked ~ .btn3,
#btn4:checked ~ .btn4 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transition: transform ease .5s, opacity ease .5s;
}
.btn1 {
    background-image: url(./img/1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    
}
.btn2 {
    background-image: url(./img/2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    
 }
.btn3 {
    background-image: url(./img/3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
 }
.btn4 {
    background-image: url(./img/4.jpg);
    background-size: auto;
   
    background-repeat: no-repeat;
 }

.block-button {
    display: flex;
    justify-content: end;
}
.button {
    height: 20px;
	width: 20px;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px; 
    display: inline-block;
    transition: background ease 0.3s;
    position: relative;
    padding: 10px;
}
.button:after {
    border: 2px solid black;
    content: " ";
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 20%;
    left: -2px;
	position: absolute;
	top: -2px;
}
/* .button:hover,  */
#btn1:checked ~ .block-button label:nth-of-type(1),
#btn2:checked ~ .block-button label:nth-of-type(2),
#btn3:checked ~ .block-button label:nth-of-type(3),
#btn4:checked ~ .block-button label:nth-of-type(4) {
    background: rgb(240, 7, 7);
}

input {
   /* display: none; */
} 

/* #btn1:checked ~.s1 {
    margin-left: 0;
    background-color: red;
}
#btn2:checked ~.s1 {
    margin-left: -25%;
}
#btn3:checked ~.s1 {
    margin-left: -50%;
}
#btn4:checked ~.s1 {
    margin-left: -75%;
} */
.wrapper-text {
    overflow: hidden;
}
.wrapper-control {
    display: flex;
    justify-content: space-between;
}
.text {
    display: flex;
    width: 400%;
}
.paragr {
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    color: black;
}


#btn5:checked ~.s2 {
    margin-left: 0;
}
#btn6:checked ~.s2 {
    margin-left: -25%;
}
#btn7:checked ~.s2 {
    margin-left: -50%;
}
#btn8:checked ~.s2 {
    margin-left: -75%;
}